.header-div{
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.menu-bar-items{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu-bar-links{
    float: left;
}
.hotels-cards-div{
    margin: 19px;
    border: 1px solid black;
    float: left;
    width: 22%;
    height: 250px;
}
.outer{
    border: 1px solid red;
    width: 25%;
    height: 400px;
}
.outer .product-name{
    border: 1px solid blue;
}
.outer-border{
    padding: 12px;
    float:left;
    border:1px solid black;
    width:23%;
    height: 300px;
}
.outer-border .trending-dish-div{
    border-radius: 2000px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
.outer-footer .first-footer{
    border: 1px solid black;
    width: 100%;
    height: 50px;
}