.main-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu-items{
    text-align: center;
    float: left;
    background-color: whitesmoke;
    
}

.mid{
    width: 100%;
    height: 100px;
}

.main-header{
    border: 1px solid black;
    height: 500px;
    background-image: url("assets/images/head-back.jpg");

}

.header-class-menu{
    border: 1px solid black;
    width: 100%;
}

.main-content{
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.trending-content{
    border: 1px solid black;
    width: 100%;
    height: 600px;
}


.main-footer{
    /* border: 1px solid black; */
    /* position: relative; */
    width: 100%;
}


/* Restaurant cards section */

.restaurant-section-head{
    text-align : center;
    border: 1px solid blue;
}


.restaurant-section{
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    float: left;
    width: 100%;
    
}
.restaurant-items{
    border: 1px solid black;
    margin-left: 20px;
    float: left;
    width: 23%;
    height: 500px;
    
}

.restaurant-items-images{
    border: 1px solid green;
    margin:20px;
    border-radius: 100px;
    width: 90%;
    height: 300px;
}

.food-section{
    margin: 0;
    /* border: 1px solid black; */
    float: left;
    width: 100%;
    /* height: 250px; */
}

.food-items{
    border: 1px solid black;
    margin-left: 20px;
    float: left;
    width: 23%;
    height: 500px;
}

.food-items-image{
    border: 1px solid red;
    margin: 20px;
    border-radius: 150px;
    width: 90%;
    height: 300px;
}

/* Footer */

.footer-1{
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

.footer-2{
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

.footer-3{
    border: 1px solid black;
    width: 100%;
    height: 30px;
}

.search-box{
    position: relative;
    bottom: 10;
    text-align: center;
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;

}

.searchbar{
    height:25px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
  }

  .buttons{
    margin-top:30px;
    float: left;
    position: absolute;
    margin-top: 50px;
  }

  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
  }

  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#6856ca;
    background-color: rgba(0, 247, 255, 0.747);
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }

  .app-name{
    text-align: center; 
    /* border: 1px solid white; */
    padding-bottom: 120px;
  }

  .nav-bar-data{
      color: white;
      padding-left: 10px;
  }